{% extends 'base.html' %}

{% block content %}
    <div class="content">
    <center><h1> Welcome to Portfolio !!!</h1></center>
    <br>
    <center><h3>Lab2</h3></center>
    <h5>Subject</h5>
    <p>Python and Django</p>
    <br>
    <h5>Purpose</h5>
    <p>Become familiar with template inheritance, static file management, and the path-view-template pattern in Django.</p>
    <br>
    <h5>Description</h5>
    <p> In this lab we will design a “portfolio” site for ourselves.
      The site will contain a home page, a resume page, a portfolio page, and contact form.
      In order to have a common look and feel across all pages, each page will extends a “base.html” page.</p>
  </div>
{% endblock %}
