{% extends 'base.html' %}
{% block content %}
<div class="content">
  <center><h2>Projects done by Arjun !!</h2></center>
  <h3 style="padding-left:20px;">Patidar Cattle Feed Web App</h3>
  <ul>
    <li>It was a live project made in Microsoft .Net Platform while I was an intern.</li>
    <li>Microsoft SQL Server was used for storing and working with data on application.</li>
    <li>Used different google API's to add more functionality to the website.</li>
  </ul>
  <br>
  <h3 style="padding-left:20px;">UNH USAT Application</h3>
  <ul>
    <li>A live project made in Android platform as a graduate assistant at UNH</li>
    <li>Application is a part of research of one Prof. in Occupational Therapy department at UNH</li>
    <li>This is a data acquisition application, specifically to collect data from disabled people</li>
  </ul>
  <br>
  <h3 style="padding-left:20px;">Korteweg-de-Vries and Burger's Equation</h5>
  <ul>
    <li>Projects attempted by me were creation of 1-d representation of waves in water using mathematical equation given
      by Korteweg–de Vries, and Burger’s Equation which is fundamental Partial Differential Equation</li>
    <li>Adam’s Bashford method was the time integration technique used in these projects.</li>
    <li>Parallelized the code using Open MPI and the aim behind parallelizing was to see how it affects the performance.</li>
  </ul>
  <br>
  <br>
  <br>
  <br>
</div>
{% endblock %}
