{% extends 'base.html' %}
{% block content %}
<div class="content">
  <h3>Education</h3>
  <hr>
  <h5>University of New Hampshire -Manchester, NH</h5>
  <p>Masters in Science in Information Technology</p>
  <h5>Marwadi University -Rajkot, Gujarat, India</h5>
  <p>Bachelor of Engineering - Computer Engineering</p>
  <br>
  <h3>Work Eexperience</h3>
  <hr>
  <h5><b>Vodafone India Services Private Limited</b> - Ahmedabad, Gujarat, India</h5>
  <p>Junior Executive</p>
  <ul>
      <li>Collaborated  in  a ten member team  to  organize  one  team  of  Supply  Chain  Management  department,
        gained complete visibility over the supplier’s practices to prevent organization from enterprise risks and fake transactions
        which can cause loss to the company.</li>
      <li>Operated Material Management module of one Enterprise Resource Planning software SAP and used different T-codes to fetch
        data such as Purchase Orders, Shopping Carts, Vendor Information. </li>
      <li>Applied analytical skills to process the data stored in Excel and SAP, and performed audits on the data processed
            by my other team members</li>
  </ul>
  <h5>Aisomex Consultancy Services-Rajkot, Gujarat, India</h5>
  <p>Intern</p>
  <ul>
    <li>Assisted in a live project and developed a web based billing application in Microsoft .NET Platform</li>
    <li>Microsoft SQL Server was used for storing and working with data on application</li>
    <li>Used different Google API’s to add more functionality to the website.</li>
  </ul>
  <br>
  <h3>Technical Skills</h3>
  <hr>
  <ul>
    <li>Programming Language such as C, C++, Java, Python, Microsoft .NET.</li>
    <li>Web development languages such as HTML, CSS, JavaScript.</li>
    <li>Proficiency with Microsoft Office, Understanding of Object Oriented Principles</li>
    <li>SAP</li>
  </ul>
  <br>
  <h3>Certificates</h3>
  <hr>
  <ul>
    <li>Oracle certificate for course completion in Database Design and Programming with SQL</li>
    <li>CCNA Module-1 and Module-2 certificate</li>
  </ul>
  <br>
  <h3>Additional Experience</h3>
  <hr>
  <ul>
    <li>Served as the help desk specialist at University of New Hampshire IT department, helped in troubleshooting
      issues such  as  network  connection,  software  installation  and assisted  in  creating/updating
      user  and technical  process documentation.</li>
    <li>Student supervisor and leader of other employees in running the award-
      winning dining hall, Holloway Commons at University of New Hampshire.</li>
  </ul>
</div>

{% endblock %}
